################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.OpenRDX
/.vs
/OpenRTX.Domain/bin/Debug
/OpenRTX.Domain/obj
/OpenRTX.v12.suo
/OpenRTX.Tests/bin/Debug
/OpenRTX.Tests/obj
/docs/RailroadTycoonManual.pdf
